.wrp,
body,
html {
    height: 100%;
    overflow: hidden;
}

html {
    background: #f7f7ff
}

body {
    margin: 0;
    color: #6a6a88;
    font: 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.wrp {
    margin: 0 auto;
    padding: .625em;
    max-width: 600px
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(1em, 1fr));
    gap: .625em;
    grid-template-rows: repeat(4, minmax(1em, 1fr));
    justify-items: center;
    height: 100%;
    height: calc(100% - 48px);
    width: 100%
}

.grid-container .korta,
.grid-container .wrpko {
    width: 100%;
    height: 100%
}

.grid-container .korta {
    border-radius: 10px
}

.grid-container .wrpko {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: contain;
    transition: transform .4s .2s linear, opacity 1s 1s linear;
    transition-delay: .2s, 1s;
    perspective: 200px;
    transform: translate3d(0, 0, 0)
}

.grid-container .korta {
    transition: transform .2s linear;
    text-align: center;
    transform-style: preserve-3d
}

.grid-container .galas {
    transform: rotateY(180deg);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid-container .priekis {
    background: repeating-linear-gradient(#e5e5e1 0, #e5e5e1 2px, #e8e8e4 2px, #e8e8e4 4px) fixed 0 0
}

.grid-container .galas,
.grid-container .priekis {
    display: flex;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px #303074;
    border-radius: 10px;
    overflow: hidden;
}

.grid-container .korta.pasukti {
    transform: rotateY(180deg);
    pointer-events: none
}

.grid-container .korta.pasukti1 {
    transform: rotateY(-180deg);
    pointer-events: none
}

.grid-container .korta.blur .galas {
    opacity: .3
}

.message,
.time,
h1 {
    text-align: center
}

.time {
    font-size: .75em
}

.message {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 150px;
    background: #fafafa;
    margin: 0 auto;
    box-shadow: 0 0 10px #6e6e6e;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    border: 10px solid #fff
}

.message p {
    order: 1;
    padding: 0 1em
}

.btn {
    box-shadow: inset 0 1px 0 0 #fff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #555;
    font-family: Arial;
    font-weight: 700;
    margin: 1em;
    cursor: pointer;
    font-size: 24px;
    padding: .25em;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff
}

.btn:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9
}

.btn:active {
    position: relative;
    top: 1px
}

.hidden {
    visibility: hidden
}

h1 {
    margin: 0;
    font-size: 0;
}
.a {background-image: url(../img/01.svg);}
.b {background-image: url(../img/02.svg);}
.c {background-image: url(../img/03.svg);}
.d {background-image: url(../img/04.svg);}
.e {background-image: url(../img/05.svg);}
.f {background-image: url(../img/06.svg);}
.g {background-image: url(../img/07.svg);}
.j {background-image: url(../img/08.svg);}
.k {background-image: url(../img/09.svg);}
.l {background-image: url(../img/10.svg);}
@media only screen and (max-width:600px) {

    .grid-container .galas,
    .grid-container .priekis {
        font-size: .75em
    }
}